.hint-activity-end{
  text-align: center;
  padding-top: 110px;
  width: 632px;
  height: 412px;
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  background-repeat: no-repeat;
  background-size: contain;
  .text {
    margin-top: 70px;
    line-height: 1.5;
    font-size: 50px;
    font-weight: bold;
    color: #810101;
  }
  .btn {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .btn__look {
    width: 114px;
    height: 117px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/icon-ok.png');
  }
}
