
.seniority {
    .bg {
        position: relative;
        margin: 194px auto 152px auto;
        width: 680px;
        background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/seniority/bg-middle.png');
        background-size: contain;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &::before {
            top: -194px;
            height: 194px;
            background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/seniority/bg-top.png');
            background-position-y: bottom;
        }
        &::after {
            bottom: -152px;
            height: 152px;
            background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/seniority/bg-foot.png');
        }
    }
}