@import "@/assets/scss/mixins/index.scss";

.ranking {
    position: relative;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -224px;
        width: 448px;
        border-bottom: 1px dashed #f4c142;
    }
    .logo {
        position: absolute;
        top: -96px;
        left: 50%;
        z-index: 2;
        margin-left: -85px;
        width: 170px;
        height: 77px;
        background: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/vipJr-logo.png') no-repeat center;
        background-size: contain;
    }
    .title {
        padding-top: 25px;
        font-size: 48px;
        font-weight: 600;
        color: #e61820;
    }
    .sub-title {
        margin-top: 14px;
        font-size: 24px;
        color: #fe0000;
    }
    .grade {
        display: flex;
        margin: 30px auto 20px auto;
        width: 456px;
        text-align: center;
        background-color: #fff;
        border-radius: 35px;
    }
    .grade__list {
        flex: 1;
        padding-top: 28px;
        padding-bottom: 13px;
        .text {
            font-size: 36px;
            font-weight: 600;
            color: #fe0000;
        }
        .desc {
            margin-top: 16px;
            font-size: 24px;
            color: #605f5f;
        }
    }
    .seniority {
        overflow-y: auto;
        margin: 28px auto 34px auto;
        padding: 22px 30px;
        width: 456px;
        max-height: 500px;
        background-color: #fff;
        border-radius: 35px;
        .list {
            display: flex;
            font-size: 24px;
        }
        .list + .list {
            padding-top: 22px;
        }
        .no {
            min-width: 70px;
            text-align: left;
        }
        .text-red {
            color: #fe0000;
        }
        .name {
            flex: 1;
            padding-left: 56px;
            padding-right: 4px;
            text-align: left;
            color: #605f5f;
            @include text-overflow();
        }
    }
    .btn-wrap {
        display: flex;
        justify-content: center;
        padding-bottom: 48px;
        &.over {
            .btn-share {
                display: none;
            }
            .btn-again {
                background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/home/over.png');
            }
        }
    }
    .btn-again,
    .btn-share {
        // margin: 0 auto 48px auto;
        width: 253px;
        height: 97px;
        background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/seniority/btn-again.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .btn-share {
        background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/seniority/btn-share.png');
    }
}

