.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 18;
  background-color: rgba(0,0,0,.75);
  animation: fadeIn 0.3s;
  .modal__animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: modal-zoom 0.3s;
  }
  .modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}