
.modal-game-pop {
    text-align: center;
    padding-top: 140px;
    width: 632px;
    height: 412px;
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
    background-repeat: no-repeat;
    background-size: contain;
    .text {
      line-height: 1.4;
      font-size: 38px;
      font-weight: 600;
      color: #941c03;
    }
    .btn {
      position: absolute;
      bottom: -50px;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    .btn__left,
    .btn__right {
      width: 268px;
      height: 102px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .btn__left {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-look.png');
    }
    .btn__right {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-tomorrow.png');
    }
}