
// Colors

$color-primary:         #337ab7;
$color-success:         #5cb85c;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-danger:          #d9534f;

// lighten($color-primary, 3% ~ 20%)    亮
// darken($color-primary, 3% ~ 20%)     暗