
.prompt-wrap {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  &.show {
    display: block;
    .prompt__text {
      animation: prompt .3s;
    }
  }
  .prompt__text {
    display: inline-block;
    padding: 20px 30px;
    font-size: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 40px;
  }
}

@keyframes prompt {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}