
.music-wrap {
  position: fixed;
  top: 140px;
  right: 40px;
  z-index: 16;
  .icon-music {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/home/music-close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .2s;
    &.open {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/home/music-open.png')
    }
  }
}