
.game-over,
.hint-expend,
.hint-sorry,
.hint-expend-success,
.hint-lack,
.hint-tomorrow,
.hint-end,
.hint-online {
  text-align: center;
  padding-top: 110px;
  width: 632px;
  height: 412px;
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/game-over.png');
  background-repeat: no-repeat;
  background-size: contain;
  .top-text {
    font-weight: 600;
    font-size: 40px;
    color: #941c03;
  }
  .text {
    margin-top: 20px;
    font-size: 40px;
    color: #941c03;
  }
  .bold {
    font-weight: 600;
    font-size: 44px;
    color: #fa0a01;
  }
  .desc {
    margin-top: 36px;
    line-height: 1.5;
    font-size: 28px;
    color: #810101;
  }
  .text-color {
    color: #f01010;
  }
  .count {
  }
  .btn {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .btn__look,
  .btn__again,
  .btn__left,
  .btn__right {
    width: 268px;
    height: 102px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .btn__look {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-look.png');
  }
  .btn__again {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-again.png');
  }
}

// 消耗600积分玩一次
.hint-expend {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .text-point {
    margin-top: 16px;
    font-size: 82px;
    font-weight: bold;
    color: #fa0a01;
  }
  .desc {
    margin-top: 10px;
  }
  .bold {
    padding: 4px;
    font-weight: bold;
    font-size: 40px;
    color: #fa0a01;
  }
  .btn {
    .btn__look {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-confirm.png');
    }
    .btn__again {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-share.png');
    }
  }
}

// 已消耗600积分
.hint-expend-success {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .top-text {
    margin-top: 70px;
    line-height: 1.4;
    font-weight: 600;
  }
  .btn__ok {
    width: 114px;
    height: 117px;
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/icon-ok.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// 免费机会已用完，分享机会还剩余，积分<600
.hint-lack {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .text {
    margin-top: 70px;
    font-weight: 600;
    line-height: 1.4;
  }
  .btn__left {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-home.png');
  }
  .btn__right {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-share.png');
  }
}

// 免费机会和分享机会已用完，积分>=600
.hint-tomorrow {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .text-point {
    margin-top: 16px;
    font-size: 82px;
    font-weight: bold;
    color: #fa0a01;
  }
  .desc {
    margin-top: 10px;
  }
  .bold {
    padding: 4px;
    font-weight: bold;
    font-size: 40px;
    color: #fa0a01;
  }
  .btn__left {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-tomorrow.png');
  }
  .btn__right {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-confirm.png');
  }
}

// 免费机会已用完，分享机会还剩余，积分<600
.hint-end {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .text {
    margin-top: 36px;
    line-height: 1.4;
    font-weight: 600;
    font-size: 38px;
  }
  .btn__left {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-look.png');
  }
  .btn__right {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-tomorrow.png');
  }
}

.hint-online {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .text {
    margin-top: 70px;
    line-height: 1.4;
    font-weight: 600;
    font-size: 30px;
  }
  .btn__left {
    background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-look.png');
  }
}

// 不足600积分
.hint-sorry {
  background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/hint.png');
  .top-text {
    margin-top: 80px;
  }
  .btn {
    .btn__look {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-home.png');
    }
    .btn__again {
      background-image: url('https://source.tutorabc.com.cn/ext/images/website/vjr/landingpage/h5/newYearBag/modal/btn-share.png');
    }
  }
}