.info-page {
    text-align: center;
    .logo {
        margin-top: 50px;
        width: 224px;
    }
    .text {
        display: block;
        margin: 60px auto 0 auto;
        width: 500px;
    }
    .text-sm {
        margin-top: 26px;
        font-size: 30px;
        color: #f6e190;
    }
}